@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnv
@inject UriService UriService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - WoWthing</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" asp-append-version="true">
    @if (false && HostEnv.EnvironmentName == "Development")
    {
        <script type="module" src="http://localhost:55505/scss/global.scss"></script>
    }
    else
    {
        @if (IsSectionDefined("css"))
        {
            @await RenderSectionAsync("css")
        }
        else
        {
    <link rel="stylesheet" asp-href-include="~/dist/assets/Paginate-*css">
    <link rel="stylesheet" asp-href-include="~/dist/assets/vendor-*css">
    <link rel="stylesheet" asp-href-include="~/dist/assets/home-*css">
        }
    }

    @await RenderSectionAsync("head", required: false)
</head>
<body>
    <header>
        <nav class="nav">
            <ul id="nav-left">
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li>
                        <a href="@await UriService.GetUriForUser()">My Page</a>
                    </li>
                    <li>
                        <a asp-controller="Upload" asp-action="Index">Upload Addon Data</a>
                    </li>
                }
                <li class="header-title">
                    <a href="@UriService.GetBaseAction("Leaderboard", "Index")">Leaderboard</a>
                </li>
            </ul>

            <ul id="nav-center">
            </ul>

            <ul id="nav-right">
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li id="user-name">@User.Identity.Name</li>
                    <li>
                        <a href="@UriService.GetBaseAction("Authentication", "Logout")">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@UriService.GetBaseAction("Authentication", "Login")">Login/Register with Battle.Net</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <div id="app-nav"></div>
    <main>
        @RenderBody()

        <footer>
            <ul>
                <li>
                    <a href="https://github.com/ThingEngineering/wowthing-again" target="_blank" rel="nofollow noopener noreferrer">
                        Github (code/issues)
                    </a>
                </li>

                <li>
                    <a href="https://discord.gg/4UkTT5y" target="_blank" rel="nofollow noopener noreferrer">
                        <img src="/external/discord_blurple.png" height="24" width="24" alt="Discord logo"> Discord
                    </a>
                </li>

                <li>
                    <a href="https://ko-fi.com/thingengineering" target="_blank" rel="nofollow noopener noreferrer">
                        <img src="/external/kofi_pixel_logo.png" height="20" width="30" alt="Ko-fi logo"> Buy me a coffee?
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <div>Favicon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </li>
            </ul>
        </footer>
    </main>

@await RenderSectionAsync("js", required: false)
</body>
</html>
