@model UserViewModel
@inject UriService _uriService
@{
    ViewData["Title"] = Model.User.UserName;
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _xsrf
@functions {
    private string GetAntiXsrfRequestToken()
    {
        return _xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section scripts
{
    <script type="text/javascript" asp-src-include="~/dist/home.*js"></script>
    @if (Model.Settings.General?.UseWowdb == true)
    {
        <script type="text/javascript" src="https://www.wowdb.com/current/js/syndication/tt.js" async></script>
    }
    else
    {
        <script type="text/javascript" src="https://wow.zamimg.com/widgets/power.js" async></script>
    }
}

    <div id="app"
         data-base-uri="@_uriService.BaseUri"
         data-settings="@Model.SettingsJson"
         data-achievements="@Url.Action("CachedJson", "Api", new { type = "achievement", languageCode = "zzZZ", hash = Model.AchievementHash })"
         data-journal="@Url.Action("CachedJson", "Api", new { type = "journal", languageCode = "zzZZ", hash = Model.JournalHash })"
         data-static="@Url.Action("CachedJson", "Api", new { type = "static", languageCode = "zzZZ", hash = Model.StaticHash })"
         data-transmog="@Url.Action("CachedJson", "Api", new { type = "transmog", languageCode = "zzZZ", hash = Model.TransmogHash })"
         data-zone-map="@Url.Action("CachedJson", "Api", new { type = "zone-map", languageCode = "zzZZ", hash = Model.ZoneMapHash })"
         data-user="@Url.Action("UserData", "Api", new { username = Model.User.UserName })"
         data-xsrf="@(User?.Identity?.IsAuthenticated == true ? GetAntiXsrfRequestToken() : "")"
    ></div>
