@model UserViewModel
@{
    ViewData["Title"] = Model.User.UserName;
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _xsrf
@functions {
    private string GetAntiXsrfRequestToken()
    {
        return _xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section scripts
{
    <script type="text/javascript" asp-src-include="~/dist/home.*js"></script>
    @if (Model.Settings.General?.UseWowdb == true)
    {
        <script type="text/javascript" src="https://www.wowdb.com/current/js/syndication/tt.js"></script>
    }
    else
    {
        <script type="text/javascript" src="https://wow.zamimg.com/widgets/power.js"></script>
    }
}

<div id="app"
     data-settings="@Model.SettingsJson"
     data-achievements="@Url.Action("StaticAchievements", "Api", new { hash = Model.AchievementsHash })"
     data-static="@Url.Action("StaticData", "Api", new { hash = Model.StaticHash })"
     data-farm="@Url.Action("StaticMisc", "Api", new { type = "farm", hash = Model.FarmHash })"
     data-transmog="@Url.Action("StaticMisc", "Api", new { type = "transmog", hash = Model.TransmogHash })"
     data-user="@Url.Action("UserData", "Api", new { username = Model.User.UserName })"
     data-xsrf="@(User?.Identity?.IsAuthenticated == true ? GetAntiXsrfRequestToken() : "")"
></div>
